<?xml version="1.0" encoding="UTF-8"?>
<!-- Heat model parameter values -->
<model>
   <parameter name="nRows" value="{number_of_rows}" />
   <parameter name="nCols" value="{number_of_columns}" />
   <parameter name="dx" value="{column_spacing}" />
   <parameter name="dy" value="{row_spacing}" />
   <parameter name="xStart" value="{grid_origin_x}" />
   <parameter name="yStart" value="{grid_origin_y}" />
   <parameter name="alpha" value="{thermal_diffusivity}" />
</model>
